{% extends "auctions/layout.html" %}

{% block body %}
   <div class="container">
      {% if message %}
        {% if updated %}
          <div class="alert alert-success" role="alert">
               {{ message }}
          </div>
        {% else %}  
          <div class="alert alert-success" role="alert">
               {{ message }}
         </div>

        {% endif %}
      {% endif %}  
   </div>
    
   {% if not listing.isActive and user == listing.price.user %}
   <div class="alert alert-success" role="alert">
        Congratulations! You won the Auction!
   </div>
   {% endif %}

    <div class="row mx-3">
        {% if user.is_authenticated and listing.isActive %}
            {% if isOwner  %}
                <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger me-2" onclick="return confirm('Êtes-vous sûr de vouloir fermer cette enchère ?')">
                        <i class="fas fa-lock me-2"></i>
                        Fermer l'enchère
                    </button>
                </form>
            {% endif %}

            {% if isListingInWatchlist %}
                <a href="{% url 'removeWatchlist' id=listing.id %}" class="btn btn-outline-danger me-2">
                    <i class="fas fa-heart-broken me-2"></i>
                    Retirer de la watchlist
                </a>
            {% else %}    
                <a href="{% url 'addWatchlist' id=listing.id %}" class="btn btn-outline-success me-2">
                    <i class="fas fa-heart me-2"></i>
                    Ajouter à la watchlist
                </a>
            {% endif %}    
        {% endif %}
    </div>   
    <h2>Pokemon: {{ listing.title }}</h2>  
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
    <p>{{ listing.description }}</p>
    <p>Owner: {{ listing.owner }}</p>
    <h6>Initial Price: ${{ listing.price.bid }}</h6>

    {% if user.is_authenticated %}
            <form action="{% url "addBid" id=listing.id %}" method="POST">
            {% csrf_token %}
        <div class="form-group">
            <label for="price">Add Bid</label>
            <input type="number" min="0" name="newBid" placeholder="Add New Bid">
            <button type="submit" class="btn btn-primary">Add</button>
         </div>
           </form>

    {% endif %}

    <p>{{ message }}</p>

    
        <h2>Comments</h2>
        <br/>
        {% if user.is_authenticated %}
           <form action="{% url "addComment" id=listing.id %}" method="POST">
            {% csrf_token %}
        <div class="form-group">
            <label for="comment">Add comment</label>
            <input type="text" name="newComment" placeholder="Add New Comment">
            <button type="submit" class="btn btn-warning">Add</button>
         </div>
           </form>
           

        {% endif %}
        <br/>
        <ul class="list-group">
            {% for comment in allComments %}
                <li class="list-group-item active">
                    {{ comment.message }}
                    <br/>
                    <p>Posted by: <strong>{{ comment.author }}</strong></p>
                </li>
           {% endfor %}
        </ul>   

    
{% endblock %}